/* 전체 레이아웃 */
@font-face {
  font-family: 'MyFont'; /* 사용할 이름 */
  src: url('/fonts/PinkfongBabySharkFont_Light.ttf') format('truetype'),
  	   url('/fonts/PinkfongBabySharkFont_Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	font-family: 'MyFont', 'Malgun Gothic', sans-serif !important;
    font-size: 1.2rem;
}

a {
	text-decoration: none;
	color: inherit;
}

.main_container {
    width: 100%;
    min-width: 1600px;
    max-width: 2000px;
    margin: 0 auto;
    padding: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
